<h1><%= @user.name %>, Welcome to iTravel!</h1>
<br>
<p> Record your travels, and discover new places through the travels of others. </p>

<p> Currently iTravel allows you to create destinations, edit & delete your destinations, and view destinations of others. Future iterations would allow for destinations sorted by location, subscribe/follow to other iTravelers, and allow users to comment/like posts. </p>

<h4> Let's get started! </h4><br>

<h3> Your Most Recent Destinations: </h3>
<li> 
    <% @destinations = current_user.destinations %>
    <% @destinations.last(3).each do |destination| %>

    <h4><%= destination.city %>, <%= destination.state %>, <%= destination.country %></h4>
    <h6><a href="/destinations/<%= destination.id %>"><%= destination.created_at %></a></h6>
    <h5><%= destination.trip_description %></h5><br>

<% end %>
</li>

<a href="/user_destinations"> View All Your Past Destinations </a><br><br>

<h3> Most Recent Destinations from All Users: </h3>
<li> 
    <% Destination.last(3).each do |destination| %>

    <h4><%= destination.city %>, <%= destination.state %>, <%= destination.country %></h4>
    <h6><a href="/destinations/<%= destination.id %>"><%= destination.created_at %></a></h6>
    <h5><%= destination.trip_description %></h5><br>

<% end %>
</li>

<a href="/destinations">View All Users Past Destinations </a><br><br>
<a href="/destinations/new">Record New Destination </a>

