<h2><%= @destination.city %>, <%= @destination.state%>, <%= @destination.country %></h2>
<h4> Destination posted by: <%= @destination.user.name %></h4><br>

<p>Trip Details:<br>
<%= @destination.trip_description %>
</p>

<p>Lodging/Accommodations:<br>
    <%= @destination.slept_at %><br>
    <%= @destination.slept_details %>
</p>

<p>Favorite Restaurant:<br>
    <%= @destination.restaurant_fav %><br>
    <%= @destination.restaurant_details %>
</p>

<p>Favorite Attraction:<br>
    <%= @destination.attraction_fav %><br>
    <%= @destination.attraction_details %>
</p>

<p>Recommendations:<br>
<%= @destination.recommendations %>
</p>

<% if authorized_to_edit?(@destination) %>
<a href="/destinations/<%= @destination.id %>/edit" >Edit Destination</a>
<br>
<form class="" action="/destinations/<%= @destination.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete Destination">
</form>
<% end %>

